<mat-card class="wordlist-card" *ngIf="this.wordlist">
  <mat-card-header>
    <mat-card-title class="wordlist-card-topic">{{ this.wordlist.topic }}</mat-card-title>
    <mat-card-subtitle class="wordlist-card-enabled">{{ this.wordlist.enabled }}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content *ngIf="!this.simple">
    <p>Nouns: <span class="wordlist-card-nouns"><div style="width: 500px;white-space: pre-line">{{displayNouns(this.wordlist)}}</div>
      </span></p>
    <p>Verbs: <span class="wordlist-card-verbs"><div style="width: 500px;white-space: pre-line">{{displayVerbs(this.wordlist)}}</div></span></p>
    <p>Adjectives: <span class="wordlist-card-adjectives"><div style="width: 500px;white-space: pre-line">{{displayAdjectives(this.wordlist)}}</div></span></p>
    <p>Misc: <span class="wordlist-card-misc"><div style="width: 500px;white-space: pre-line">{{displayMisc(this.wordlist)}}</div></span></p>

    <button class="wordlist-download-button" (click)='downloadJson(wordlist, wordlist.topic)'>Download Json</button>

  </mat-card-content>
  <mat-card-actions>
    <button mat-button data-test="viewInfoButton" *ngIf="this.simple" [routerLink]="['/wordlists', this.wordlist._id]">View Info</button>
  </mat-card-actions>


</mat-card>

