<mat-sidenav-container class="sidenav-container">

  <mat-sidenav-content  >
    <mat-toolbar color="primary">

        <button mat-icon-button routerLink="/"><mat-icon aria-label="Side nav toggle icon">home</mat-icon></button>

      <span class="app-title">{{returnTitle()}}</span>

      <span id="space"> </span>

      <div class="container" style="max-width: 500px">


        <div *ngIf="isSignedin === undefined || isSignedin === false || isSignedin === null" class="mt-4">
          <button mat-raised-button type="button" id="googleBtn" (click)="googleSignin()" class="btn btn-block btn-primary"> </button>
        </div>

        <div *ngIf="isSignedin === true" class="mt-4">
           Hello, {{user.firstName}}
          <button mat-raised-button id="googleSignOutBtn" type="button" (click)="logout()" class="btn btn-primary">Log Out</button>
        </div>

      </div>

    </mat-toolbar>

    <div class="main-content mat-typography">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>

