.sidenav-container {
  height: 100%;

}
.mat-sidenav-content{
  background-color: #f8f8f6;
}

.sidenav {
  background-color:#f8f8f6;
  font:#01596e;
  width: 256px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  background-color:  #02c3eb;
  color:#01596e;
  position: sticky;
  top: 0;
  z-index: 1;
}

.app-title {
  padding-left: 16px;
}

#space{
  flex: 1 1 auto;
}

#googleBtn {
  width: 191px;
  height: 46px;
  background-image: url("/assets/img/btn_google_signin_light_normal_web.png");

}

#googleBtn:hover {
  background-image: url("/assets/img/btn_google_signin_light_focus_web.png");
}


.main-content {
  color:#01596e;
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
}
