.mat-toolbar {
  background-color:  skyblue;
  color:#01596e;
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  background-color:#f8f8f6;
  font:#01596e;
  width: 256px;
}

#space{
  flex: 1 1 auto;
}

#googleBtn {
  width: 191px;
  height: 46px;
  background-image: url("/assets/img/btn_google_signin_light_normal_web.png");

}

#googleBtn:hover {
  background-image: url("/assets/img/btn_google_signin_light_focus_web.png");
}

.main-content.mat-typography {
  color:#01596e;
  margin: 24px;
  @media (max-width: 599px) {
    margin: 16px;
  }
  align-items: center;
}
