/* ProfileEditorComponent's private CSS styles */
:host {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
  background-color: #f8f8f6;
}

label {
  display: block;
  width: 50em;
  margin: .5em 0;
  color:#01596e;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

// button {
//   display: inline-table;
//   z-index: 1;
//   font-family: Arial, sans-serif;
//   padding: 5px;
//   border-radius: 5px;
//   cursor: pointer;
// }
.delete-button{
  margin: 5px;
  border:none;
  display: inline-block;
}
.add-button {
  border:none;
  display: inline-block;


}
.buttons-div{
  background-color:none;
  position:relative;
}


button:hover {
  background-color: #3baada;
}

button:disabled {
  background-color: rgba(255, 255, 255, 0);
  color:rgba(128, 128, 128, 0.734);
  cursor: auto;
}

.misc {
  border: 3px solid#EDB76A;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  margin: 5px;
}

.nouns {
  border: 3px solid#0A608A;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  margin: 5px;
}

.adjectives {
  border: 3px solid#7FA791;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  margin: 5px;
}

.verbs {
  border: 3px solid#F6F2C3;
  border-radius: 5px;
  padding: 10px;
  width: 75%;
  margin: 5px;
}

.wordlists{
  border: 4px;
  border-radius: 5px;
  padding: 10px;
  width: 60%;
  margin: 5px;

}
.mat-card-title{
  color:#01596e;
}


h3{
  font-style:oblique;
  color:#01596e;
}

.sidenav-list a{
  background-color:red;
}

.red-icon{
  color: #F43911
}
.add-noun-button{
  background-color: lightcoral;
  border:none;
  float:right;
}
.add-adj-button{
  background-color: lightgreen;
  border:none;
  float:right;

}
.add-noun-button:focus{
  background-color: lightcoral;
  text-decoration: none;
  bottom:0;
  margin-bottom:0;
  float:right;

}
.add-button{
  display: inline-block;
  border:none;

}





.mat-tab-group{
  width: fit-content;
}

.contextpack-download-button{
  position: fixed;
  bottom: 20px;
  right: 30px;
  float: right;
  background-color: #3baada;
  border-radius: 30px;
  width: 50px;
  height: 50px;
}


