<form [formGroup]="contextPackForm">
  <label>
    Pack Name:
    <input type="text" formControlName="name">
  </label>
  <label>
    Enabled:
    <input type="text" formControlName="enabled">
  </label>
	<!-- X -->
	<div formArrayName="wordlists">
		<div *ngFor="let wordlists of contextPackForm['controls'].wordlists['controls']; let ix=index">
			<div formGroupName="{{ix}}" class="wordlists">
        <label>
          Wordlist Name:
          <input type="text" formControlName="name">
        </label>
        <label>
          Enabled:
          <input type="text" formControlName="enabled">
        </label>


				<!-- Nouns -->
        <label>
          <div formArrayName="nouns">
           <h3>Nouns</h3>
            <div *ngFor="let nouns of wordlists['controls'].nouns['controls']; let iy=index">
              <div formGroupName="{{iy}}" class="nouns">

                <label>
                  Word:
                  <input type="text" formControlName="word">
                </label>
                <div formArrayName="forms">
                  <div *ngFor="let forms of nouns['controls'].forms['controls']; let iz=index">
                    <!-- The repeated form template -->
                     <button (click)="addForms(ix, iy, 'nouns')">Add Form</button>
                    <input type="text" [formControlName]="iz">

                  </div>
                </div>

              </div>
            </div>
            <input type="button" (click)="addPosArray(ix,'nouns')" value="Add Noun">
          </div>

        </label>
				<!-- Nouns End -->
        <!-- Adjectives -->
        <label>
          <div formArrayName="adjectives">
           <h3>Adjectives</h3>
            <div *ngFor="let nouns of wordlists['controls'].adjectives['controls']; let iy=index">
              <div formGroupName="{{iy}}" class="adjectives">

                <label>
                  Word:
                  <input type="text" formControlName="word">
                </label>
                <div formArrayName="forms">
                  <div *ngFor="let forms of nouns['controls'].forms['controls']; let iz=index">
                    <!-- The repeated form template -->
                     <button (click)="addForms(ix, iy,'adjectives')">Add Form</button>
                    <input type="text" [formControlName]="iz">

                  </div>
                </div>

              </div>
            </div>
            <input type="button" (click)="addPosArray(ix,'adjectives')" value="Add Adjective">
          </div>

        </label>
				<!-- Adjectives End -->
        <!-- Verbs -->
        <label>
          <div formArrayName="verbs">
           <h3>Verbs</h3>
            <div *ngFor="let nouns of wordlists['controls'].verbs['controls']; let iy=index">
              <div formGroupName="{{iy}}" class="verbs">

                <label>
                  Word:
                  <input type="text" formControlName="word">
                </label>
                <div formArrayName="forms">
                  <div *ngFor="let forms of nouns['controls'].forms['controls']; let iz=index">
                    <!-- The repeated form template -->
                     <button (click)="addForms(ix, iy,'verbs')">Add Form</button>
                    <input type="text" [formControlName]="iz">

                  </div>
                </div>

              </div>
            </div>
            <input type="button" (click)="addPosArray(ix,'verbs')" value="Add Verb">
          </div>

        </label>
				<!-- Verbs End -->
        <!-- Misc -->
        <label>
          <div formArrayName="misc">
           <h3>Verbs</h3>
            <div *ngFor="let nouns of wordlists['controls'].misc['controls']; let iy=index">
              <div formGroupName="{{iy}}" class="misc">

                <label>
                  Word:
                  <input type="text" formControlName="word">
                </label>
                <div formArrayName="forms">
                  <div *ngFor="let forms of nouns['controls'].forms['controls']; let iz=index">
                    <!-- The repeated form template -->
                     <button (click)="addForms(ix, iy,'misc')">Add Form</button>
                    <input type="text" [formControlName]="iz">

                  </div>
                </div>

              </div>
            </div>
            <input type="button" (click)="addPosArray(ix,'misc')" value="Add Misc">
          </div>

        </label>
				<!-- Misc End -->

			</div>
		</div>
		<input type="button" (click)="addWordlist()" value="Add Wordlist">
	</div>
	<!-- X End -->
	<form>

		<h5>Field Values</h5>
		<pre style="font-size:15px">{{ contextPackForm.value | json }}</pre>

