span.contextpack-card-wordlists{
  display: inline-block;
  background-color: rgba(0, 225, 255, 0.713);
  border: 3px solid#01596e;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
}
.mat-card{
  background-color: rgba(136, 138, 248, 0.144);
}
.contextpack-card-name{
  color:#01596e;

}

span.contextpack-card-nouns{
  display: inline-block;
  background-color: rgba(0, 225, 255, 0.713);
  border: 3px solid#01596e;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 70%;
  word-wrap: break-word;
  display: flex;
}


span.contextpack-card-misc{
  display: inline-block;
  background-color: rgba(0, 225, 255, 0.713);
  border: 3px solid#01596e;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  width: 70%;
  word-wrap: break-word;
  display: flex;

}

span.contextpack-card-adjectives{
  display: inline-block;
  background-color: rgba(0, 225, 255, 0.713);
  border: 3px solid#01596e;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  word-wrap: break-word;
  display: flex;

}

span.contextpack-card-verbs{
  display: inline-block;
  background-color: rgba(0, 225, 255, 0.713);
  border: 3px solid#01596e;
  border-radius: 5px;
  padding: 10px;
  width: 70%;
  margin: 5px;
  word-wrap: break-word;
  display: flex;
}

.contextpack-download-button {
  border:none;
  margin-right:68%;
  float:right;
  color:#01596e;
  background-color:#02c3eb;
  border: 2px solid#01596e;
  border-radius: 3px;



}

