.contextpack-cards-container {
  width: 100%;
  position: relative;
  align-items: center;
}


.contextpack-card {
  padding: 5px;
  align-items: center;
}

.search-card {
  margin-bottom: 10px;
}

.mat-radio-button {
  margin: 0 12px;
}

.add-contextpack-fab {
  position: fixed;
  bottom: 15px;
  right: 30px;
  float: right;
  background-color: skyblue;
}
