<mat-card class="contextpack-card" *ngIf="this.contextpack">

  <mat-card-header>
  <mat-card-title><app-edit-contextpack class="contextpack-card-name" [value]="this.contextpack.name" (valueChangeEvents)="save('name', $event )"></app-edit-contextpack></mat-card-title>
    <mat-card-subtitle><app-edit-contextpack class="contextpack-card-enabled" [value]="this.contextpack.enabled" (valueChangeEvents)="save('enabled',$event)"></app-edit-contextpack></mat-card-subtitle>
    <mat-card-subtitle><app-edit-contextpack class="contextpack-card-icon" [value]="this.contextpack.icon" (valueChangeEvents)="save('icon',$event)"></app-edit-contextpack></mat-card-subtitle>
  </mat-card-header>


  <mat-card-content *ngIf="!this.simple">

      <button mat-icon-button color="accent" class="contextpack-download-button" (click)='downloadJson(contextpack, contextpack.name).click()'>
    <mat-icon>download</mat-icon>
  </button>
    <mat-form-field>
      <mat-label>View Type</mat-label>
      <mat-select [(value)]="selected" data-test="contextpackWordSelect">
        <mat-option value="true">View Wordlists</mat-option>
        <mat-option value="false">View Words</mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="selected === 'true'; else templateWords">
      <div *ngFor="let wordlists of contextpack.wordlists; let index = index">
        <mat-card-title>{{contextpack.wordlists[index].name}}</mat-card-title>
        <span class="contextpack-card-nouns">
          <div style="white-space: pre-line">Nouns:
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
              <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWords(contextpack.wordlists[index], 'nouns')"
              (click)="deleteWord(contextpack.wordlists[index], word)">
                {{word}} </mat-chip>
                <button mat-stroked-button (click)="(this.editing =!this.editing)" class="edit-word-button">
                  <mat-icon>add</mat-icon>
                </button>
                <mat-accordion class="example-headers-align" multi *ngIf="this.editing">
                  <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        Nouns
                      </mat-panel-title>
                      <mat-panel-description>
                        Add Nouns
                        <mat-icon>edit</mat-icon>
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <mat-form-field>
                      <mat-label>Word</mat-label>
                      <input matInput >
                    </mat-form-field>

                    <mat-form-field>
                      <mat-label>Forms</mat-label>
                      <input matInput type="string">
                    </mat-form-field>
                  </mat-expansion-panel>
                </mat-accordion>
            </mat-chip-list>

          </div></span>
          <span class="contextpack-card-verbs">
            <div style="white-space: pre-line">Verbs:
              <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
                <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWords(contextpack.wordlists[index], 'verbs')">
                  {{word}} </mat-chip>
              </mat-chip-list>

            </div></span>
            <span class="contextpack-card-adjectives">
              <div style="white-space: pre-line">Adjectives:
                <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
                  <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWords(contextpack.wordlists[index], 'adjectives')">
                    {{word}} </mat-chip>
                </mat-chip-list>

              </div></span>

              <span class="contextpack-card-misc">
                <div style="white-space: pre-line">Misc:
                  <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
                    <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWords(contextpack.wordlists[index], 'misc')">
                      {{word}} </mat-chip>
                  </mat-chip-list>

                </div></span>
      </div>
    </div>

    <ng-template #templateWords>


        <span class="contextpack-card-nouns">
          <div style="white-space: pre-line">Nouns:
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
              <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWordsNoForms(this.contextpack, 'nouns')">
                {{word}} </mat-chip>
            </mat-chip-list>

          </div></span>

        <span class="contextpack-card-verbs">
        <div style="white-space: pre-line">Verbs:
          <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
            <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWordsNoForms(this.contextpack, 'verbs')">
              {{word}} </mat-chip>
          </mat-chip-list>

        </div></span>
        <span class="contextpack-card-adjectives">
        <div style="white-space: pre-line">Adjectives:
          <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
            <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWordsNoForms(this.contextpack, 'adjectives')">
              {{word}} </mat-chip>
          </mat-chip-list>

        </div></span>

        <span class="contextpack-card-misc">
          <div style="white-space: pre-line">Misc:
            <mat-chip-list class="example-chip" cdkDropList cdkDropListOrientation="horizontal" >
              <mat-chip class="example-box" cdkDrag *ngFor="let word of displayWordsNoForms(this.contextpack, 'misc')">
                {{word}} </mat-chip>
            </mat-chip-list>
          </div></span>
  </ng-template>




    <!-- <button class="contextpack-download-button" (click)='downloadJson(contextpack, contextpack.name).click()'>Download Json</button> -->

  </mat-card-content>


  <mat-card-actions *ngIf="this.simple">
    <button mat-button data-test="viewInfoButton" [routerLink]="['/contextpacks', this.contextpack._id]">View Info</button>
  </mat-card-actions>


</mat-card>

