
.mat-card{
  background-color:white;
}

.contextpack-card-name{
  color:#01596e;

}

h2, mat-card-title, mat-card-subtitle{
  text-transform: capitalize;
  color:#01596e;
  margin: 10px;
}

.contextpack-card-nouns, .contextpack-card-adjectives, .contextpack-card-verbs, .contextpack-card-misc {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: inherit;
  word-wrap: break-word;
  display: flex;
}

.contextpack-download-button, .editView, mat-form-field{
  display: inline-block;
  padding: 10px;

}

.wordlist-enable-button, .wordlist-disable-button, .contextpack-enable-button, .contextpack-disable-button, h4{
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
  color:#01596e;
  text-align: center;

}

.nounChip, .wordlist-nounChip {
  background-color: #356398;
  color: white;
}

.verbChip, .wordlist-verbChip {
  background-color: #F6F2C3;
}

.adjectiveChip, .wordlist-adjectiveChip {
  background-color: #7FA791;
  color: white;
}

.miscChip, .wordlist-miscChip {
  background-color: #EDB76A;
}

mat-card-header {
  text-align: left;
}

