<div fxLayout="row">
  <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10">

    <mat-card class="search-card">
      <mat-card-title class="contextpack-list-title">Context Packs</mat-card-title>
      <mat-card-content fxLayout="column" >

        <div fxLayout="row wrap" fxLayoutGap="10px">
          <mat-form-field class="input-field">
            <mat-label>Name</mat-label>
            <input matInput data-test="contextpackNameInput" placeholder="Filter by name"
            [(ngModel)]="contextpackName" (input)="updateFilter()">
          </mat-form-field>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>

<div fxLayout="row">
  <div class="test" fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" *ngIf="serverFilteredContextpacks; else contextpackError" >

      <div fxLayout="row wrap" fxLayoutGap="10px" class="contextpack-cards-container">
        <app-contextpack-card simple="true" *ngFor="let contextpack of filteredContextpacks" class="contextpack-card" [contextpack]="contextpack"  (valueChangeEvents)="updateField(contextpack,$event)" fxFlex="1 1 280px"></app-contextpack-card>
      </div>

  </div>

  <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
  <ng-template #contextpackError>
    <div fxFlex fxFlex.gt-sm="80" fxFlexOffset.gt-sm="10" class="contextpack-error">
      <mat-error>
        There was a problem loading the contextpacks. Possibly the server is down or perhaps there are network
        issues.
      </mat-error>
      <mat-error>
        Please wait a bit and try again or start the server.
      </mat-error>
    </div>
  </ng-template>

</div>

<button mat-fab class="add-contextpack-fab" matTooltip="Add New Context Pack" matTooltipPosition="above" routerLink="/edit" data-test="addContextPackButton">
  <mat-icon class="md-24" aria-label="Add Context Pack">add</mat-icon>
</button>

