
.mat-card{
  background-color:white;
}

.contextpack-card-name{
  color:#01596e;

}

h2, mat-card-title, mat-card-subtitle{
  text-transform: capitalize;
  color:#01596e;
  margin: 10px;
}

.contextpack-card-nouns, .contextpack-card-adjectives, .contextpack-card-verbs, .contextpack-card-misc {
  display: inline-block;
  padding: 10px;
  margin: 5px;
  width: inherit;
  word-wrap: break-word;
  display: flex;
}

.contextpack-download-button, .editView, mat-form-field{
  display: inline-block;
  padding: 10px;

}

.wordlist-enable-button, .wordlist-disable-button, h4{
  display: inline-block;
  padding: 10px;
  text-transform: capitalize;
  color:#01596e;
  text-align: center;

}

.nounChip {
  background-color: pink;
}

.verbChip {
  background-color: rgb(193, 193, 235);
}

.adjectiveChip {
  background-color: rgb(147, 233, 147);
}

.miscChip {
  background-color: rgb(250, 250, 161);
}

mat-card-header {
  text-align: left;
}
