.learnerContainer {
  position: relative;
  justify-content: center;
}

.sign-in-view-learners {
  text-align: center;
  margin: 10px;
}
.filter {
  margin-top:10px;
  margin-right: 8px;

}

.add {
  margin-bottom:10px;
  margin-left:8px;
} //cheating the system

.newLearner {
  display: flex;
  justify-content: space-between;;
}
