mat-list-item, h1, h3{
  text-transform:capitalize;
}
.back-button {
  float: left;
  background-color: skyblue;
}
.nouns{
  background-color: rgb(238, 105, 105);
}
.verbs{
  background-color:rgba(82, 130, 181, 0.734);
}
.misc{
  background-color:rgb(247, 247, 179);
}
.adjectives{
  background-color: rgb(91, 172, 91);
}
.word-chip-container{
  border-radius: 5px;
}
::ng-deep .mat-tooltip{
  text-transform: capitalize;
}
.listPackSection {
  display: flex;
  justify-content: space-between;
}
mat-card {
  margin: 10px;
}
