mat-list{
  text-transform:capitalize;
}
.nouns{
  background-color: #538dd0;
}
.verbs{
  background-color: #F6F2C3;
}
.misc{
  background-color: #EDB76A;
}
.adjectives{
  background-color: #7FA791;
}
.word-chip-container{
  border-radius: 5px;

}
