mat-list-item, h1, h3, h2, mat-option{
  text-transform:capitalize;
}
.back-button {
  float: left;
  background-color: skyblue;
  margin-right: 3px;
}
.nouns{
  background-color: rgb(238, 105, 105);
}
.verbs{
  background-color:rgba(82, 130, 181, 0.734);
}
.misc{
  background-color:rgb(247, 247, 179);
}
.adjectives{
  background-color: rgb(91, 172, 91);
}
.word-chip-container{
  border-radius: 5px;
}
::ng-deep .mat-tooltip{
  text-transform: capitalize;
}

mat-card {
  margin: 3px;
}
mat-card-title{
  text-transform: capitalize;
  width: 70%;
}
.home{
  text-align: center;
}
mat-card-subtitle{
  text-align: center;
}
.disabled-list{
  color: lightgrey;
  white-space: pre;
}
.enabled-list {
  white-space: pre;
}
.toggles, mat-form-field {
  margin-left: 10px;
  margin-right: 10px;
}

