<div *ngIf="(learner === null) || learner === undefined; else templateLearners">
  <a class="home" mat-list-item routerLink="/contextpacks" routerLinkActive="drawer-list-item-active">
    <mat-icon matListIcon>home</mat-icon>Return to context packs

  </a>
</div>
<ng-template #templateLearners>
  <!-- Button that goes back to the learners page -->
<button mat-fab class="back-button" matTooltip="Back to Learners" matTooltipPosition="right" routerLink="/learner" data-test="backButton">
  <mat-icon class="md-24" aria-label="Back Button">keyboard_backspace</mat-icon>
</button>

<mat-card fxLayout="column" fxFlex.gt-sm="80" fxFlexOffset.gt-sm="7">
  <mat-card-title class="learner-name">{{this.learner.name}}</mat-card-title>

<div fxLayout="row" class="listPackSection">

  <mat-card fxFlex>
    <mat-card-title><h2>Assigned Packs</h2></mat-card-title>

    <mat-card *ngFor="let pack of this.assignedPacksObj" class="assigned-pack-name">
      <mat-card-title><h3>{{pack.contextpack.name}}</h3></mat-card-title>
      <div fxLayout="row">
      <mat-card-subtitle>Enabled Word Lists:</mat-card-subtitle>
      <mat-list-item class="assigned-wordlists">
      {{this.getListNames(pack).join(', ')}}
      </mat-list-item>
      </div>
    </mat-card>

  </mat-card>

  <mat-card fxFlex>
      <mat-card-title><h2>Toggle Options</h2></mat-card-title>

      <mat-card>
        <mat-card-title><h3>Toggle Learner's Word Lists</h3></mat-card-title>

      <mat-form-field appearance="fill" class="wordlist-select">
        <mat-label>Enable/Disable Word Lists</mat-label>
        <mat-select>
          <mat-option *ngFor="let list of this.possibleWordlists"
          class="wordlist-check-box" >
            <mat-checkbox
            (click)="$event.stopPropagation()" [checked]="list.enabled"
            (change)="toggleWordlist(list,list.pack, list.enabled)"
            class="toggle-list-assign"> {{list.name}}
            </mat-checkbox>
          </mat-option>
        </mat-select>
      </mat-form-field>
      </mat-card>

      <mat-card>
        <mat-card-title><h3>Toggle Learner's Context Packs</h3></mat-card-title>

       <mat-form-field appearance="fill" class="wordlist-select">
         <mat-label>Assign/Unassign Context Packs</mat-label>
         <mat-select>
           <mat-option *ngFor="let pack of this.possibleContextpacks"
           class="wordlist-check-box" >
             <mat-checkbox
             (click)="$event.stopPropagation()" [checked]="pack.enabled"
             (change)="toggleContextpack(pack._id,pack.enabled)"
             class="toggle-list-assign"> {{pack.name}}
             </mat-checkbox>
           </mat-option>
         </mat-select>
       </mat-form-field>
       </mat-card>

  </mat-card>

</div>

<mat-card fxLayout="row">
  <h2 fxLayout="row" class="disabled-wordlists">Disabled Word Lists:
    <div>{{this.learner.disabledWordlists.join(', ')}}</div>
  </h2>
</mat-card>

  <mat-card class="word-chip-container">
    <mat-card-title>Assigned Words</mat-card-title>
    <br>
    <mat-chip-list>
      <mat-chip *ngFor="let word of this.assignedWords"
        matTooltip="{{word.wordlist.replace('_', ' ')}}"
        matTooltipClass="forms-tooltip"
        class="{{word.pos}}"
        >
      {{word.word}}
      </mat-chip>
    </mat-chip-list>
  </mat-card>

</mat-card>
</ng-template>
